<h1>Quiz 1 Headline</h1>
<h1>Quiz 2 Baseball Player List</h1>

<% @players.each do |player| %>
  <div>
    <h2><%= player.name %></h2><br />
    <i><%= player.city %> <%= player.mascot %></i><br />
    <p>Plays <%= player.position %>, Bats <%= player.bats %>, Throws <%= player.throws %></p><br />
  </div>

  <hr />
<% end %>